.search-docs {
  position: relative;
  width: 100%;
}

.search-docs__results{
  z-index: 50;
  position: absolute !important;
  list-style: none;
  background: #f7f7f7;
  width: 350px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .03);
}
.search-docs__results:before{
  display: none !important;
}