img.author-avatar {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 5px;
}

div.card{
  width: 200px;
  height: 225px;
  background-color: #ffffff;
  background-size: cover;
  margin-bottom: 30px;
  margin-left: 30px;
}

div.card-text{
  margin-top: 5px;
  color: #666666;
  text-decoration: none solid rgb(102, 102, 102);
}
