.card-maintainer img.author-avatar {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 5px;
}

.card-maintainer {
  background-color: #ffffff;
  background-size: cover;
  margin-left: 30px;
}

.card-maintainer .card-text{
  margin-top: 5px;
  color: #666666;
  text-decoration: none solid rgb(102, 102, 102);
}

.maintainer__icon{
  font-size: 20px;
}

@media only screen and (max-width: 766px) {
  .card-maintainer {
    margin-bottom: 30px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }
}
