div.dropdown {
  margin-top: 10px;
  z-index: 20;
}
.dropdown-sidebar {
  /* position: relative; */
  width: 300px;
}
.dropdown-sidebar .sidebar{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}